{% extends "base.html" %}

{% comment %} 
    list of all Persons with pagination
    params:
        page_obj: Page Object
        filter_form: Form to filter
{% endcomment %}

{% block page_title %}Person List{% endblock page_title %}

{% block nav_links %}
    <a href="{% url 'new_person' %}" class="btn btn-primary">
        Create New
    </a>
{% endblock nav_links %}

{% block content %}

    {% include 'components/form.html' with form=filter_form method="post" msg="Filter" %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Birthday</th>
            </tr>
        </thead>
        <tbody>
            {# Iterate over all Persons #}
            {% for person in page_obj %}
                <tr>
                    <td>{{person.first_name}}</td>
                    <td>{{person.last_name}}</td>
                    <td>{{person.birthday}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'components/pagination.html' with page_obj=page_obj url_name='person_list' %}
{% endblock content %}